{% extends 'base.html' %}

{% block content %}
    <main id="dashboard">
        <section class = "navigation">
            {% comment %} <a class = "btn btn-outline-secondary" href="{% url 'dashboard:product_dashboard:product_list'%}">
                Products
            </a>
            <a class = "btn btn-outline-secondary" href="{% url 'dashboard:category_dashboard:category_list'%}">
                Categories 
            </a>
            <a class = "btn btn-outline-secondary" href="{% url 'dashboard:brand_dashboard:list_brand'%}">
                Brand
            </a>
            <a class = "btn btn-outline-secondary" href="{% url 'dashboard:index' %}">
                Orders
            </a>
            <a class = "btn btn-outline-success" href="{% url 'checkout:checkout_index' %}">
                Cart
            </a>
            
            <a class = "btn btn-danger" href="{% url 'account_logout' %}">
                Logout
            </a>
            <hr> {% endcomment %}
        </section>
        <section class = "dashboard-content">
            {% block dashcontent %}

            {% endblock %}
        </section>
    </main>
{% endblock %}