{% extends 'base.html'%}

{% block content %}
    {% for object in object_list %}
        <a href="{% url 'products:detail_product' slug=object.slug%}">
            <img src="{{ object.get_thumbnail.image.url }}" alt = "{{ object.get_thumbnail.alt }}">
            <h5>{{ object.name }} </h5>
            <p>{{ object.sku }} | {{object.price}}$ </p>
        </a>
    {% endfor %}
    
    {% comment %} add a next and previous page href to category {% endcomment %}
    {% if is_paginated %}  
        {% comment %} previous page href {% endcomment %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number}}">previous</a>
        {% endif %}
        <span>
            Page: {{page_obj.number}} out of {{page_obj.paginator.num_pages}}
        </span>
        {% comment %} next page href {% endcomment %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">next</a>
        {% endif %}
    {% endif %}

{% endblock %} 