{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if checkout_line %}
                {% for line in checkout_line %}
                    <div class="col-md-12">
                        <p>{{ line.quantity  }} x {{ line }}</p>
                        {% if line.product.expired == 1 %}
                            <p><s>{{ line.product.price }} EGP<s>  {{ line.product.discounted_price }} EGP </p>
                            <p>subtotal: {{ line.get_sub_total_discount }}</p>
                        {% else %}
                            <p>{{ line.product.price }} EGP</p>
                            <p>subtotal: {{ line.get_sub_total }}</p>
                        {% endif %}
                
                        <hr> 
                    </div>
                {% endfor %}
                <p>discount: {{ total_discount }}</p>
                <hr>
                <p> total : {{total}} </p>
            {% endif %}
            <form action="{% url 'checkout:create_order_view' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Buy Now</button> 
            </form>
            
        </div>
    </div>
{% endblock %}