{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                {% for foo in object.orderlines.all %} 
                        <tr>
                        {% comment %} <td> {{ foo }} </td> {% endcomment %}
                        <td>{{ foo.product }} </td>
                        {% if foo.product.expired == 1 %}
                            <td><s>EGP{{ foo.product.price }}</s> EGP{{ foo.product.discounted_price }} </td>
                            <td>{{ foo.quantity }}</td>
                            <td>{{ foo.get_sub_total_discount }}</td>
                        {% else %}
                            <td>EGP{{ foo.product.price }}</td>
                            <td>{{ foo.quantity }}</td>
                            <td>{{ foo.get_sub_total }}</td>
                        {% endif %}
                    {% empty %}
                        <h1>empty</h1>
                    </tr>
                {% endfor %}
                <tr>
                <td>Total Discount</td>
                <td></td>
                <td></td>
                <td>{{ object.total_discount }}</td>
                </tr>
                <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>{{ object.total }}</td>
                </tr>
            </table>
        </div> 
    </div> 
{% endblock  %}

